# dependencies directory
__pypackages__/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so
*.mypy_cache/
*.ipynb_checkpoints/

# uv cache
.cache/uv

# Environment variables
venv/
*.venv

# IDE files
.vscode/
.idea/

# Log files
*.log

# Image files
*.png
*.tiff
*.gif

# Data files
*.npy
*.npz
*.pkl

# ignore locally generated results
figs/
results/
analyses/results/

# ignore CellPose models which can be quite large
cellsmap/analyses/nuclei_predictions/models/
