# PDM dependencies directory
__pypackages__/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so
*.mypy_cache/
*.ipynb_checkpoints/

# PDM virtual environment directory
.pdm-python
.python-version

# PDM config file
.pdm.toml

# Environment variables
venv/
.venv

# IDE files
.vscode/
.idea/

# Log files
*.log

# Image files
*.png
*.tiff
*.gif

# Data files
*.npy
*.npz
*.pkl

# ignore locally generated results
figs/
results/
analyses/results/

# ignore CellPose models which can be quite large
cellsmap/analyses/nuclei_predictions/models/

# ignore files that might not be included
cdh5_classic_seg_old.py
sldy_load_test.py
concatenate_timepoints.py
ROUGH_vis_cdh5_nodes_and_edges_analysis.py
