# PDM dependencies directory
__pypackages__/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so
*.DS_Store
# PDM lock file
pdm.lock
.pdm-python
# Environment variables
.env

# IDE files
.vscode/
.idea/

# Log files
*.log

# image files
*.tiff
*.tif